<div>
  <div class="searchInput">
    <h1>User credentials</h1>
    <mat-form-field class="fullWidth">
      <input matInput [(ngModel)]="searchString" placeholder="Please enter user name, id or phone number">
    </mat-form-field>
    <button class="mat-raised-button mat-primary" mat-button (click)="search()">Search</button>
  </div>

  <mat-card *ngIf="userProfiles" class="searchCard">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <ul>
        <li *ngFor=""></li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="center">
      <button mat-button class="mat-raised-button mat-warn"><a [href]="userProfile.url">View Profile</a></button>
    </mat-card-actions>
  </mat-card>
</div>
